<footer class="ui container footer">
    <div class="ui horizontal list">
        <a class="item" href="https://twitter.com/{{ site.twitter_username }}"><i class="twitter icon"></i> Twitter</a>
        <a class="item" href="https://github.com/{{ site.github_username }}"><i class="github icon"></i> GitHub</a>
        <div class="disabled item" href="#"><i class="world icon"></i> Copyright &copy; {{ site.time | date: "%Y" }}, {{ site.copyright }}.</div>
    </div>

    <div class="ui right floated horizontal list">
        <div class="disabled item" href="#">Powered by © GitHub, Inc.</div>
    </div>
</footer>
