<div class="ui vertical masthead center aligned segment top">
    <div class="ui container">
        <h1 class="ui icon header">
            <img class="ui avatar image" src="/images/profile/profile_1.jpg" />

            <div class="content">
                imsimo.me
                <div class="sub header">Sys. admin - Technology addict - Amateur photographer</div>
            </div>
        </h1>

        <div class="ui text container">
            <div class="ui horizontal bulleted link list">
                <a class="item {% if page.title == 'Home' %}active{% endif %}">Home</a>
                <a class="item {% if page.title == 'Blog' %}active{% endif %}">Blog</a>
                <a class="item {% if page.title == 'About Me' %}active{% endif %}">About Me</a>
            </div>
        </div>
    </div>
</div>
