.ui.top {
    padding-top: 3em;
    padding-bottom: 3em;
}

.ui.vertical.segment.top {
    border-bottom: none;
}

.ui.cards>.card a {
    color: white;
}

.ui.cards>.card a:hover {
    color: #4183C4;
}

.ui.inverted.button:hover  {
    background-color: rgba(0,0,0,.6);
}

.ui.footer {
    padding-top: 2em;
}

p.more-lineheight {
    line-height: 1.5em
}

h1, h2, h3, h4, h5 {
    color: #45b29a !important;
}
